
@{
    ViewBag.Title = "Index";
}

<style>
    .status {
        background: url("/Frontend/jpg/status.png");
        width: 20px;
        height: 20px;
        display: inline;
        position: absolute;
        background-size: cover;
        background-position: 20px;
        cursor: pointer;
    }

    .status-comments {
        background: url("/Frontend/jpg/status.png");
        width: 20px;
        height: 20px;
        display: inline;
        position: absolute;
        background-size: cover;
        background-position: 20px;
    }

    .status-comments-float-right {
        display: inline;
        position: absolute;
        float: right;
        bottom: 20px;
        right: 43px;
    }

    .status-comments-title {
        position: relative;
        left: 24px;
    }

    .Green {
        background-position: 0px;
    }

    .Red {
        background-position: 40px;
    }

    .Yellow {
        background-position: 60px;
    }

    .Gray {
        background-position: 20px;
    }

    #PianGuan {
        top: -171px;
        left: 277px;
    }

    #HeQu {
        top: -74px;
        left: 205px;
    }

    #WuZhai {
        top: -21px;
        left: 297px;
    }

    #BaoDe {
        top: 35px;
        left: 150px;
    }

    #ShenChi {
        top: -62px;
        left: 376px;
    }

    #KeLan {
        top: 83px;
        left: 243px;
    }

    #NingWu {
        top: 58px;
        left: 414px;
    }

    #JingLe {
        top: 212px;
        left: 388px;
    }

    #YuanPing {
        top: 41px;
        left: 538px;
    }

    #XiFu {
        top: 191px;
        left: 534px;
    }

    #Dai {
        top: -39px;
        left: 641px;
    }

    #WuTai {
        top: 71px;
        left: 750px;
    }

    #DingXiang {
        top: 168px;
        left: 647px;
    }

    #FanZhi {
        top: -86px;
        left: 790px;
    }
</style>
<script>
    var HomeRegionMonitorIPDialog;
    var RefresIPMonitorBrefInfoStatus;

    var GetRegionIPInfo = function (region)
    {
        $.ajax({
            url: "/IPMonitor/GetIPMonitorBrefInfoListView?region=" + region,
            type: "GET",
            dataType: 'HTML',
            async: false,
            success: function (data)
            {
                if (data != '') {
                    $("#HomeRegionMonitorIP").css({ "display": "block" });
                    $("#HomeRegionMonitorIP").empty();
                    $("#HomeRegionMonitorIP").html(data);
                    HomeRegionMonitorIPDialog = $("#HomeRegionMonitorIP").dialog({
                        autoOpen: true,
                        width: 830,
                        modal: true,
                        resizable: false,
                        title: "网络监控管理",
                        close: function () {
                            $("#HomeRegionMonitorIP").css({ "display": "none" });
                            $("#HomeRegionMonitorIP").empty();
                            clearInterval(RefresIPMonitorBrefInfoStatus);
                        }
                    });
                }
                else
                {
                    UserLogin();
                }
            }
        });
    }

    var ChangeStatus = function (id, status)
    {
        $('#' + id).removeClass('Red');
        $('#' + id).removeClass('Green');
        $('#' + id).removeClass('Yellow');
        $('#' + id).removeClass('Gray');
        $('#' + id).addClass(status);
    }

    var LoadStatus = function ()
    {
        $.ajax({
            type: "POST",
            url: "/IPMonitor/GetAllRegionStatus",
            dataType: "json",
            success: function (data) {
                RefreshStatus();
                $.each(data, function (index)
                {
                    ChangeStatus(data[index].Location, data[index].Status);
                })
            }
        });
    }

    var RefreshStatus = function()
    {
        $.each($('.status'), function (index) {
            $($('.status')[index]).removeClass('Red');
            $($('.status')[index]).removeClass('Green');
            $($('.status')[index]).removeClass('Yellow');
            $($('.status')[index]).removeClass('Gray');
            $($('.status')[index]).addClass('Gray');
        });
    }

    var CheckSession = function ()
    {
        $.ajax({
            Type: "GET",
            url: "/User/CheckSession",
            success: function (data)
            {
                if (data == "True")
                {
                    $("#OptionMenu").empty();
                    $("#OptionMenu").append($("<div class='title-option map_site_login' onclick=Exit()>退出</div>"));
                    $("#OptionMenu").append($("<div class='title-option' onclick=ChangePassword()>修改密码</div>"));
                    $("#OptionMenu").append($("<div class='title-option' onclick=LoadLogInfoList()>网络日志</div>"));
                    $("#OptionMenu").append($("<div class='title-option' id='ip-manage' onClick=onClickIpManager()>网络监控</div>"));
                }
            }
        });
    }

    $(document).ready()
    {
        CheckSession();
        setInterval(LoadStatus, 5000);
    }
</script>
<div class="text-center" style="background-color: #2592bd; height: 700px; position: relative;">
    <div style="font-size: 35px; margin-bottom: -34px;">
        <label class="label">忻州市信息网络监控平台</label>
    </div>
    <div style=" width: 100%; height: 100%; display: inline; position: relative;">
        <div id="PianGuan" class="status" onclick="GetRegionIPInfo(this.id)"></div>
        <div id="HeQu" class="status" onclick="GetRegionIPInfo(this.id)"></div>
        <div id="WuZhai" class="status" onclick="GetRegionIPInfo(this.id)"></div>
        <div id="BaoDe" class="status" onclick="GetRegionIPInfo(this.id)"></div>
        <div id="ShenChi" class="status" onclick="GetRegionIPInfo(this.id)"></div>
        <div id="KeLan" class="status" onclick="GetRegionIPInfo(this.id)"></div>
        <div id="NingWu" class="status" onclick="GetRegionIPInfo(this.id)"></div>
        <div id="JingLe" class="status" onclick="GetRegionIPInfo(this.id)"></div>
        <div id="YuanPing" class="status" onclick="GetRegionIPInfo(this.id)"></div>
        <div id="XiFu" class="status" onclick="GetRegionIPInfo(this.id)"></div>
        <div id="Dai" class="status" onclick="GetRegionIPInfo(this.id)"></div>
        <div id="WuTai" class="status" onclick="GetRegionIPInfo(this.id)"></div>
        <div id="DingXiang" class="status" onclick="GetRegionIPInfo(this.id)"></div>
        <div id="FanZhi" class="status" onclick="GetRegionIPInfo(this.id)"></div>
        <img style="height: 600px; width: 1000px; margin-top: 25px;" src="@Url.Content("~/Frontend/jpg/bg.png")" />
    </div>
    <div class="status-comments-float-right">
        <ul style="list-style-type: none;">
            <li class="text-left" style="margin-left: -1px;"><div id="Comments-Gray" class="status-comments Gray"></div><label class="status-comments-title">未开始进行检测</label></li>
            <li class = "text-left"><div id="Comments-Green" class="status-comments Green"></div><label class="status-comments-title">网络状态正常</label></li>
            <li class = "text-left"><div id="Comments-Yellow" class="status-comments Yellow"></div><label class="status-comments-title">网络存在阻塞状态</label></li>
            <li class = "text-left"><div id="Comments-Red" class="status-comments Red"></div><label class="status-comments-title">检测网络已断开</label></li>
        </ul>
    </div>
    <div id="HomeRegionMonitorIP" style="display:none"></div>
</div>

