
@{
    ViewBag.Title = "LogInfoList";
}
<div class="log-info-list-page">
    <div class="log-search-box">
        <div class="radio-group log-radio-search-div">
            <input class="log-search-column" type="radio" name="LogSearchColumn" value="IP" />IP&nbsp;&nbsp;&nbsp;
            <input class="log-search-column" type="radio" name="LogSearchColumn" value="LogLevel" />风险等级&nbsp;&nbsp;&nbsp;
            <input class="log-search-column" type="radio" name="LogSearchColumn" value="legMessage" />信息&nbsp;&nbsp;&nbsp;
        </div>
        <div class="log-search-info-div">
            <input id="searchInfo" class="form-control" />
        </div>
        <div class="log-search-button">
            <input type="button" class="btn btn-default" value="搜索" />
            <input type="button" class="btn btn-default" value="添加" />
        </div>
    </div>
    <div>
        <table class="table">
            <tr>
                <th>IP</th>
                <th>姓名</th>
            </tr>
        </table>
        <table id="LogInfoList" class="table"></table>
    </div>
    <div class="text-center">
        <ul class="pagination" id="pagination"></ul>
        <input type="hidden" id="PageCount" value="1" />
        <input type="hidden" id="PageSize" value="8" />
        <input type="hidden" id="countindex" value="10" />
        <!--设置最多显示的页码数 可以手动设置 默认为7-->
        <input type="hidden" id="visiblePages" value="7" />
    </div>
    <div id="edit-ip-user-page" style="display:none"></div>
</div>

